.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.links{
    color: black;
}

.text-body{
    color: #2679ff !important;
}

.text-body:hover{
    font-weight: bold;
}